.icon {
	font-size: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: $brand-dark;
	margin: 0 $gutter/2;
	border-radius: 50%;
	&:hover {
		background: #000;
	}
}
.divider-top {
	border-top: 1px solid $line-color;
}
.divider-bottom {
	border-bottom: 1px solid $line-color;
}
.illustrated {
	text-align: center;
	padding: $gutter 0;
	@include align-items(center);
	h3 {
		margin-top: $gutter;
		font-size: 26px;
		line-height: 1.25em;
		color: $alt-light;
	}
	p {
		margin: $gutter 0;
	}
	&>div {
		max-width: 320px;
		margin: 0 auto;
	}
}
.link-block {
	display: block;
	cursor: pointer;
	color: inherit;
	&:hover,
	&:focus {
		color: inherit;
		text-decoration: inherit;
		outline: none;
		h3 {
			text-decoration: underline;
			color: $brand-dark;
		}
	}
}
.title-past {
	position: relative;
	z-index: 2;
	font-size: 18px;
	font-family: $font-tall;
	font-weight: bold;
	text-transform: uppercase;
	color: #969696;
	text-align: center;
	&::before,
	&::after {
		content: ' ';
		position: absolute;
		z-index: 1;
		top: 15px;
		width: 25%;
		background: $line-color;
		height: 1px;
		@media (min-width: 650px) {
			& {
				width: 40%;
			}
		}
	}
}
.title-past::before {
	left: 0;
}
.title-past::after {
	right: 0;
}
.abs-topright{
	position: absolute;
	right: 0;
	top:0;
}
