// Site overview: dividers and alignment
.home-activities {
	border-top: 1px solid $line-color;
}

.aside,
#home {
	.divider-top {
		border-top: 1px solid #fff;
		&::before {
			content: '';
			background: $line-color;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.home-activities {
		border-top: 0;
		border-left: 1px solid $line-color;
	}
	.home-news,
	.home-activities {
		h2 {
			text-align: left;
		}
	}
}

@media (max-width: $screen-md-max) {
	.home-tools {
		border-top: 1px solid #fff;
		&::before {
			content: '';
			background: $line-color;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.home-tools {
		border-top: 0;
		h2 {
			text-align: left;
		}
	}
	.home-tools,
	.home-activities {
		border-left: 0;
		&::before {
			position: absolute;
			content: ' ';
			top: 0;
			bottom: 0;
			width: 1px;
			background: $line-color;
		}
	}
}

// Color helpers
.bg-alt-light {
	background: $alt-light;
	color: white;
}

.bg-alt-dark {
	background: $alt-dark;
	color: white;
}

// News
.news-list-item {
	@include clearfix;
	margin: $gutter 0;
	line-height: 1.2em;
	font-weight: bold;
	&>figure {
		float: left;
	}
	&>div {
		margin-left: 100px + 0.6 * $gutter;
	}
}

// News
.activity-list-item {
	@include clearfix;
	margin: $gutter 0;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	&>div {
		margin-left: 64px + 0.6 * $gutter;
	}
	h3 {
		margin-top: 0;
	}
	p {
		margin-top: 5px;
	}
}

.activity__time {
	float: left;
	width: 64px;
	text-align: center;
	line-height: 40px;
	font-size: 26px;
	font-family: $font-tall;
	font-weight: 400;
	background: $brand-light;
	&>b {
		display: block;
		line-height: 60px;
		font-size: 40px;
		font-weight: 300;
		background: $brand;
		color: #fff;
	}
}

.activity--past>.activity__time {
	background: $neutral-light;
	&>b {
		background: #888;
	}
}

// Social media iframes
.social-wrapper {
	background: #999;
	padding-top: $gutter;
	padding-bottom: $gutter;
	section {
		padding: $gutter;
	}
	figure {
		background: $neutral-light;
		height: 300px;
	}
}

