.news-grid-item {
	padding: $gutter;
	h3{
		font-size: 24px;
		line-height: 32px;
	}
	p {
		margin: 5px 0;
	}
}
.news-container {
	padding: $gutter;
	.grid-3 {
		margin-left: -$gutter;
		margin-right: -$gutter;
	}
}
$news-item-width: 300px + 2*$gutter;
@media (min-width: $screen-sm-min) {
	.news-container {
		margin: 0 auto;
		width: 2*$news-item-width;
	}
}
@media (min-width: $screen-lg-min) {
	.news-container {
		width: 3*$news-item-width;
	}
}
$line-width: 10px;
$half-gutter: 0.5 * $gutter;
$double-gutter: 2 * $gutter;
.aanpak-item {
	position: relative;
	margin: 0 0 0 $gutter;
	padding: $half-gutter 0 $half-gutter $double-gutter;
	content: counter(count);
	counter-increment: section;
	&>h3 {
		position: relative;
	}
	&>h3::before {
		position: absolute;
		z-index: 2;
		content: ' ';
		background: $line-color;
		height: 4px;
		width: $gutter*2/3;
		top: $gutter/2 - 2px;
		left: -$gutter;
		border-radius: 2px;
	}
	&::before {
		position: absolute;
		content: ' ';
		background: $line-color;
		width: $line-width;
		left: -$line-width/2;
		top: -10px;
		bottom: 0;
		border-radius: 5px;
	}
	&::after {
		position: absolute;
		z-index: 3;
		content: counter(section);
		font-size: 25px;
		background: $alt-dark;
		color: #fff;
		width: 2 * $gutter;
		height: 2 * $gutter;
		top: 0;
		left: -$gutter;
		border-radius: 50%;
		text-align: center;
		line-height: 2 * $gutter;
	}
	@media (min-width: $screen-sm-min) {
		&:nth-child(even) {
			margin: $gutter 0 -70px 50%;
		}
		&:nth-child(odd) {
			margin: $gutter 50% -70px 0;
			padding: $half-gutter $double-gutter 1px 0;
			text-align: right;
			&::before {
				left: auto;
				right: -$line-width/2;
			}
			&::after {
				left: auto;
				right: -$gutter;
			}
			&>h3::before {
				right: -$gutter;
				left: auto;
			}
		}
		&:last-child {
			margin-bottom: $gutter;
		}
	}
}
