.wrapper {
	position: relative;
}
.container {
	padding-left: $gutter;
	padding-right: $gutter;
}
.container-sm {
	padding-left: $gutter;
	padding-right: $gutter;
	max-width: 600px;
	margin: 0 auto;
}
.grid-2 {
	@include flexbox;
	&>* {
		@include flex(1, 0, 50%);
	}
}
@media (min-width: $screen-sm-min) {
	.flex-sm {
		@include flexbox;
		&>* {
			@include flex-grow(1);
		}
		aside {
			@include flex(0, 0, 270px);
		}
	}
}
@media (min-width: $screen-lg-min) {
	.grid-lg-2 {
		@include flexbox;
		&>* {
			@include flex(1, 0, 50%);
		}
	}
}

// Header visibility
.header-xs {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.header-sm {
	display: none;
	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

// breadcrumb
.breadcrumb {
	padding: 15px $gutter;
	margin: 0;
	line-height: 30px;
	list-style: none;
	background: none;
	border-radius: 4px;
	a {
		color: $brand-dark;
	}
}

// breadcrumb fix
.breadcrumb > li + li:before {
	content: ">";
}

// Just above footer: keep in touch section: newsletter
.newsletter {
	padding: $gutter 0;
	border-top: 1px solid $line-color;
	text-align: center;
	background: whitesmoke;
	form {
		margin: 0 auto;
		max-width: 300px;
		font-weight: 700;
	}
}

// Article
.article {

	// Navigation
	nav>ul {
		padding: 0;
		margin: 0;
		border-left: 1px solid $line-color;
		border-right: 1px solid $line-color;
		li {
			display: block;
		}
		a {
			display: block;
			padding: 10px 0 10px $gutter;
			line-height: 30px;
			border-bottom: 1px solid $line-color;
			color: $text-color;
			&.active {
				background: $brand;
				color: #fff;
			}
			&:hover {
				background: $brand-dark;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
.article-content {
	padding: 1px $gutter;
	margin-bottom: ($gutter * 2);
}
.aside {
	margin-bottom: 2 * $gutter;
	padding: 0 $gutter;
	h2 {
		margin-top: 0;
		padding-top: 0.83em;
	}
	ul {
		padding-left: 20px;
	}
	ul+h4 {
		border-top: 1px solid $line-color;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	.btn {
		width: auto;
		max-width: 300px;
		margin-left: -$gutter;
		margin-right: -$gutter;
		font-size: 25px;
	}
}
@media (min-width: $screen-sm-min) {
	.has-left {
		margin-left: 210px;
	}
	.left {
		float: left;
		width: 210px;
	}
	.has-aside-sm {
		float: left;
		width: 480px;
	}
	.aside-sm {
		margin-left: 480px;
		border: 1px solid $line-color;
		border-width: 0 1px 1px 1px;
	}
}
@media (min-width: $screen-lg-min) {
	.has-aside-sm,
	.has-aside-lg {
		float: left;
		width: 920px;
	}
	.aside-sm,
	.aside-lg {
		margin-left: 920px;
		border: 1px solid $line-color;
		border-width: 0 1px 1px 1px;
	}
}

//Footer
.pageFooter {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	padding: 2*$gutter $gutter;
	background: $brand;
	color: rgba(#fff,.6);
	font-size: 12px;
	line-height: 2em;
	p {
		text-align: center;
		margin: 0 $gutter;
	}
	a {
		color: #fff;
	}
	img {
		width: 200px;
		max-height: 100px;
		max-width: 100%;
	}
}

// Responsiveness
@media (min-width: $screen-sm-min) {
	.main {
		max-width: $screen-sm-min;
		margin: 0 auto;
	}
	.illustrated,
	.grid-3 {
		@include clearfix;
		height: 100%;
		&>* {
			float: left;
			width: 50%;
			min-height: 100%;
		}
		&>*:nth-child(2n+1) {
			clear: left;
		}
		&>.col-lg {
			width: 100%;
		}
	}
	.pageFooter {
		@include flex-direction(row);
		@include flex-wrap(wrap);
		p {
			text-align: left;
		}
	}
	.first-sm {
		order: -1;
	}
}
@media (min-width: $screen-lg-min) {
	.main {
		max-width: $screen-lg-min;
		margin: 0 auto;
	}
	.grid-3 {
		&>.col-lg,
		&>* {
			width: 33.333%;
		}
		&>*:nth-child(2n+1) {
			clear: none;
		}
		&>*:nth-child(3n+1) {
			clear: left;
		}
	}
	.illustrated {
		&>* {
			width: 100%;
		}
	}
}

// Tablet styles
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
	.divider-tablet-top {
		margin-top: 2 * $gutter;
		&::before {
			position: absolute;
			content: ' ';
			left: 0;
			right: 0;
			height: 1px;
			background: $line-color;
		}
	}
	.grid-tablet-2 {
		@include flexbox;
		border-top: 1px solid $line-color;
		&>* {
			@include flex(1, 0, 50%);
		}
	}
	.grid-tablet-3 {
		@include clearfix;
		margin: 0 -15px;
		&>* {
			float: left;
			width: 33.3333%;
			padding: 15px;
		}
	}
	.btn.center-tablet {
		margin: 0 auto;
	}
	.article-aside {
		.btn {
			max-width: 270px;
			margin: 3 * $gutter auto;
		}
	}
	.aside section+section {
		border-top: 0;
	}
}

// Mobile styles
@media (max-width: $screen-xs-max) {
	.aside {
		.btn {
			width: auto;
			margin: $gutter;
		}
	}
}
