.row {
	@include make-row;
	margin: 0 (-$gutter/2);
}

@media (min-width: $screen-sm-min) {
	.row--sm {
		&>.row__col {
			float: left;
			width: 50%;
		}
	}
}

.row__col {
	padding: 0 ($gutter/2);
}

