$list-padding: 40px;
$list-padding-vink: 37px;
$list-padding-roadmap: 15px;
$list-padding-driehoek: 37px;
.list {
	display: inline-block;
	margin: 0;
	padding: $gutter 0;
	text-align: left;
	li {
		&>a {
			display: block;
			padding: $gutter/4 0;
			color: inherit;
		}
	}
}
.list--thema {
	padding-left: $list-padding-vink;
	li {
		padding-left: $list-padding - $list-padding-vink;
		list-style-image: url("../img/bullet_vink.png");
	}
}
.list--thema.list--white {
	li {
		list-style-image: url("../img/bullet_vink_white.png");
	}
}
.list--aanpak {
	padding-left: $list-padding-roadmap;
	li {
		padding-left: $list-padding - $list-padding-roadmap;
		list-style-type: none;
		position: relative;
		&::before {
			content: ' ';
			position: absolute;
			top: $gutter/2;
			left: 0;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: mix($alt-dark, $alt-light);
		}
		&::after {
			content: ' ';
			position: absolute;
			top: $gutter/4 + 23px/2;
			bottom: -$gutter/4 - 23px/2;
			left: 5px;
			width: 3px;
			background: mix($alt-dark, $alt-light);
		}
		&:last-child::after {
			display: none;
		}
	}
}
.list--aanpak.list--white {
	li {

	}
}
.list--act {
	padding-left: $list-padding-driehoek;
	li {
		padding-left: $list-padding - $list-padding-driehoek;
		list-style-image: url("../img/bullet_driehoek.png");
	}
}
.list--inline {
	padding: 10px 0 10px 20px;
	li {
		font-size: 14px;
		float: left;
		padding-right: 30px;
		padding-left: 0;
	}
}
