<nav class="nav-mobile">
	<button aria-label="Close navigation" onclick="navToggle()" class="btn nav-close">&times;</button>
	<ul>
		{% for item in navMain %}
		<li>
			{%- if item.url==page -%}
			<a class="active" href="{{ item.url }}">{{ item.text }}</a>
			{%- else -%}
			<a href="{{ item.url }}">{{ item.text }}</a>{%- endif -%}
		</li>
		{% endfor %}
	</ul>
	<ul class="nav-brand">
		{% for item in navTop %}
		<li>
			{%- if item.url==page -%}
			<a class="active" href="{{ item.url }}">{{ item.text }}</a>
			{%- else -%}
			<a href="{{ item.url }}">{{ item.text }}</a>{%- endif -%}
		</li>
		{% endfor %}
	</ul>
</nav>
