{% set page = "thema-en-aanpak.html" %}

{% extends "partials/layout.html" %}

{% block content %}
<div class="main">
	{% include "partials/tabs.html" %}
</div>
<div class="divider-bottom">
	<ol class="breadcrumb main">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="thema-en-aanpak.html">Thema's en aanpak</a>
		</li>
		<li>
			Een aanpak
		</li>
	</ol>
</div>
<main class="main clearfix">
	<article class="article has-aside-lg">
		<nav class="article-nav left">
			<ul>
				<li>
					<a href="#">Omschrijving</a>
				</li>
				<li>
					<a href="#">Instrumenten</a>
				</li>
				<li>
					<a class="active" href="#">Nog iets</a>
				</li>
				<li>
					<a href="#">Organisaties</a>
				</li>
				<li>
					<a href="#">Goede praktijken</a>
				</li>
				<li>
					<a href="#">Meer weten</a>
				</li>
			</ul>
		</nav>
		<div class="article-content has-left">
			<h2>Thema's</h2>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
				Mauris placerat eleifend leo.</p>

			<p>
				<img class="pull-right" src="http://placehold.it/300x200">
				<strong>Pellentesque habitant morbi tristique</strong>
				senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
				<em>Aenean ultricies mi vitae est.</em>
				Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
					dui.
				<a href="#">Donec non enim</a>
				in turpis pulvinar facilisis. Ut felis.
			</p>

			<ol>
				<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
				<li>Aliquam tincidunt mauris eu risus.</li>
			</ol>

			<h3>Header Level 3</h3>

			<p>
				<img class="pull-left" src="http://placehold.it/300x200">
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
					Mauris placerat eleifend leo.
				<strong>Pellentesque habitant morbi tristique</strong>
				senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
			</p>

			<h4>Header Level 4</h4>

			<ul>
				<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
				<li>Aliquam tincidunt mauris eu risus.</li>
			</ul>

			<p>
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
					Mauris placerat eleifend leo.
			</p>

		</div>
	</article>
	<aside class="aside aside-lg article-aside">
		<div class="grid-tablet-2">
			<a class="btn btn-alt btn--icon btn--layers" href="#">
				Pak het
				<strong>structureel</strong>aan
			</a>
			<a class="btn btn-alt btn--icon btn--head visible-sm visible-md" href="#">
				Inspireer je door
				<strong>onze thema's</strong>
			</a>
		</div>
		<div class="grid-tablet-2">
			<section>
				<h4>Vorming &amp; activiteiten</h4>
				<ul class="list list--act">
					{% for activity in activities.slice('0', '5') %}
					<li>
						<a href="#">
							<b>{{ activity.date }}</b>
							{{ activity.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
			<section>
				<h4>Gerelateerde thema's</h4>
				<ul class="list list--thema">
					{% for t in themas.slice('0', '3') %}
					<li>
						<a href="#">
							{{ t.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>
		<a class="btn btn-alt btn--icon btn--cone visible-xs visible-lg" href="#">
			Stuur ons je eigen
			<strong>praktijkvoorbeeld</strong>
		</a>
	</aside>
</main>
{% endblock %}
