{% set page = "nieuws.html" %}

{% extends "partials/layout.html" %}

{% block content %}
<div class="divider-top">
	<ol class="breadcrumb main">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="nieuws.html">Nieuws</a>
		</li>
	</ol>
</div>
<div class="divider-top">
	<main class="main news-container" id="news">
		<h2 class="text-hide">Nieuws</h2>
		<div class="grid-3">
			{% for item in news.slice('0', '6') %}
			<a class="link-block" href="nieuws-item.html">
				<article class="news-grid-item">
					<figure>
						<img alt="" height="200px" src="{{ item.picture }}" width="300px"/>
					</figure>
					<div>
						<h3>{{ item.title }}</h3>
						<p>
							<time datetime="{{ item.date }}">{{ item.date }}</time>
						</p>
						<p>
							{{ item.excerpt }}
						</p>
					</div>
				</article>
			</a>
			{% endfor %}
		</div>
	</main>
</div>
{% endblock %}
