{% set page = "nieuws.html" %}

{% extends "partials/layout.html" %}

{% block content %}
<div class="divider-top">
	<ol class="breadcrumb main">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="nieuws.html">Nieuws</a>
		</li>
	</ol>
</div>
<div class="divider-top">
	<main class="main news-container" id="news">
		<h2 class="text-hide">Nieuws</h2>
		<div class="grid-3 divider-bottom">
			{% for item in news.slice('0', '6') %}
			<a class="link-block" href="nieuws-item.html">
				<article class="news-grid-item">
					<figure>
						<img alt="" height="200px" src="{{ item.picture }}" width="300px"/>
					</figure>
					<div>
						<h3>{{ item.title }}</h3>
						<p>
							<time datetime="{{ item.date }}">{{ item.date }}</time>
						</p>
						<ul class="list list--thema list--inline">
							<li>Gerelateerd</li>
							<li>Nog een thema</li>
						</ul>
						<p>
							{{ item.excerpt }}
						</p>
					</div>
				</article>
			</a>
			{% endfor %}
		</div>
		<div class="paging">
			<a href="" class="paging--disabled">
				<svg height="50" stroke="#ccc" width="30" viewBox="0 0 30 50" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="5" stroke-linecap="round">
					<path d="M25 5 L5 25 L25 45" />
				</svg>
			</a>
			P1/2
			<a href="" class="paging--next">
				<svg height="50" stroke="#ccc" width="30" viewBox="0 0 30 50" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="5" stroke-linecap="round">
					<path d="M5 5 L25 25 L5 45" />
				</svg>
			</a>
		</div>
	</main>
</div>
{% endblock %}
