{% set page = "thema-en-aanpak.html" %}

{% extends "partials/layout.html" %}

{% block content %}
{% include "partials/tabs.html" %}
<div class="divider-bottom">
	<ol class="breadcrumb main">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			Thema's en aanpak
		</li>
	</ol>
</div>
<main class="main">
	<div class="grid-lg-2">
		<section class="container">
			<h2>Thema's</h2>
			<p>
				Ethiek in de sport omschrijven we als het nastreven van de positieve waarden in de sport. Het creëren van een ethisch sportklimaat waar iedereen zicht goed voelt en zich kan ontplooien. Binnen ethiek in de sport worden er zes thema’s meer uitgewerkt.
					De thema’s zijn: fair play, rechten van het kind in de sport, integriteit, inclusie, diversiteit en solidar- iteit. Ontdek informatie, good practices, vorming, documentatie en links over ethiek algemeen en per thema.
			</p>
			<ul class="list list--thema">
				{% for t in themas %}
				<li>
					<a href="een-aanpak.html">{{ t.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</section>
		<section class="container">
			<h2>
				Aanpakken</h2>
			<p>
				Aanpakken omschrijven we als lorem ipsum in de sport. Het creëren van een ethisch sportklimaat waar iedereen zicht goed voelt en zich kan ontplooien. Binnen ethiek in de sport worden er zes thema’s meer uitgewerkt. De thema’s zijn: fair play, rechten
					van het kind in de sport, integriteit, inclusie, diversiteit en solidariteit. Ontdek informatie, good prac- tices, vorming, documentatie en links over ethiek algemeen en per thema. (invoegen van inleiding ‘aanpak’)
			</p>
			{% for t in aanpakken %}
			<article class="aanpak-item">
				<h3>{{ t.title }}</h3>
				<p>
					{{ t.excerpt }}
				</p>
				<p>
					<a class="btn btn--sm" href="#">Meer weten</a>
				</p>
			</article>
			{% endfor %}
		</section>
	</div>
</main>
{% endblock %}
