{% set page = "vorming.html" %}

{% extends "partials/layout.html" %}

{% block content %}
<div class="divider-bottom divider-top">
	<ol class="main-fluid breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			Vorming en activiteiten
		</li>
	</ol>
</div>
<main class="main-fluid flex-sm" id="activities">
	<div class="container">
		<h2>Vormingen</h2>
		{% for activity in activities.slice('0', '4') %}
		<a class="link-block activity-list-item">
			<time datetime="{{ activity.date }}">
				<b>{{ activity.date | replace("^(..).*", "$1") }}</b>
				{{ activity.date | replace("^...(...)..(..).*", "$1$2") }}
			</time>
			<div class="">
				<h3>{{ activity.title }}</h3>
				<p>
					{{ activity.location }}<br>
					{{ activity.street }},
					{{ activity.city }}
				</p>
			</div>
		</a>
		{% endfor %}
		<h2 class="title-past">Voorbije events</h2>
		{% for activity in activities.slice('0', '2') %}
		<a class="link-block activity-list-item event-past">
			<time datetime="{{ activity.date }}">
				<b>{{ activity.date | replace("^(..).*", "$1") }}</b>
				{{ activity.date | replace("^...(...)..(..).*", "$1$2") }}
			</time>
			<div class="">
				<h3>{{ activity.title }}</h3>
				<p>
					{{ activity.location }}<br>
					{{ activity.street }},
					{{ activity.city }}
				</p>
			</div>
		</a>
		{% endfor %}
	</div>
	<aside class="aside">
		<section>
			<h2>Vorming op maat</h2>
			<p>
				Aanbod van trainingen volgens uw behoeften lorem ipsum
			</p>
		</section>
		<a class="btn btn-alt" href="#">Meer uitleg?<br>Contacteer ons</a>
	</aside>
</main>
{% endblock %}
