{% set page = "vorming.html" %}

{% extends "partials/layout.html" %}

{% block content %}
<div class="divider-top divider-bottom">
	<ol class="breadcrumb main">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="vorming.html">Vorming</a>
		</li>
		<li>
			Vorming detail
		</li>
	</ol>
</div>
<main class="main clearfix">
	<article class="container has-aside-lg">
		<h2 class="h2--large">Dit is een vorming</h2>
		<figure>
			<img src="http://placehold.it/900x400" alt="" />
		</figure>
		<div class="row row--sm details">
			<div class="row__col">
				<p class="iconleft il--marker">
					Adres: Nederkouter 221, 9000 Gent (gebouw lorem ipsum)
				</p>
				<p class="iconleft il--calendar">
					Wanneer: 4/12/2015
				</p>
				<p class="iconleft il--eur">
					Inkom gratis
				</p>
			</div>
			<div class="row__col">
				<p class="iconleft il--user">
					Docent: Jean-Paul Van De Wattijne
				</p>
				<p class="iconleft il--star">
					Organisatie: BLOSO
				</p>
			</div>
		</div>
		<hr>
		<form class="register">
			<legend><h3>Inschrijven</h3></legend>
			<div class="row row--sm">
				<div class="row__col">
					<label>
						<span class="text-hide">Naam</span>
						<input type="text" class="inp inp--register" placeholder="Naam">
					</label>
					</div>
				<div class="row__col">
					<label>
						<span class="text-hide">Voornaam</span>
						<input type="text" class="inp inp--register" placeholder="Voornaam">
					</label>
				</div>
			</div>
			<div class="row row--sm">
				<div class="row__col">
					<label>
						<span class="text-hide">E-mailadres</span>
						<input type="text" class="inp inp--register" placeholder="E-mailadres">
					</label>
					<p>
						<button class="btn btn--alt">Verstuur</button>
					</p>
				</div>
			</div>
		</form>
		<hr>
		<h3>More content</h3>
		<p>And text</p>
	</article>
	<aside class="aside aside-lg divider-tablet-top">
		<section>
			<h4>Meer vormingen &amp; activiteiten</h4>
			<ul class="list list--act">
				{% for activity in activities.slice('0', '5') %}
				<li>
					<a href="#">
						<b>{{ activity.date }}</b>
						{{ activity.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<a href="#" class="btn btn--alt center-tablet">Meer nieuws</a>
		</section>
	</aside>
</main>
{% endblock %}
